<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Small Business - Start Bootstrap Template</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/styles.css" rel="stylesheet"/>
</head>
<body th:style="'background: url(/assets/img/create-anime-background-style.jpg) no-repeat center center fixed;'">
<!-- Responsive navbar-->

<div th:include="/common/navbar.html"></div>


<!-- Page Content-->
<div class="container px-4 px-lg-5">
    <!-- Heading Row-->

    <!-- Call to Action-->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body"><p class="text-white m-0">This call to action card is a great place to showcase some
            important information or display a clever tagline!</p></div>
    </div>

    <!-- Category -->
    <div th:include="/common/category.html">

    </div>
    <hr>

    <!-- Content Row-->
    <div class="row gx-4 gx-lg-5">

        <div class="col-md-4 mb-5" th:each="clothes:${LIST_CLOTHES}">
            <div class="card" style="width: 18rem;">

<!--                @{${'/img/' + players.id +'_'+ players.name + '.png'}}-->
                <img th:src="@{'/images/'+${clothes.getPhotoPath()}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title" th:text="${clothes.name}">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <hr>
                    <div class="text-center">
                        <a class="btn btn-outline-dark btn-sm" th:href="|/shop/viewDetail/${clothes.id}|">Details</a>
                        <a class="btn btn-outline-dark btn-sm" th:href="|/shoppingCart/add/${clothes.id}/S|">Add to cart</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="text-center">

                <div th:if="${totalPages > 0}">
                    <div class="row">
                        <p> total Items:
                            <span th:text="${totalItems}"></span>
                        </p>
                    </div>
                    <div class="text-center">
                        <div th:if="${searchValue == null}">

                        <span th:each="i : ${#numbers.sequence(1, totalPages)}">
                        <a th:if="${currentPage != i}" th:href="@{|/shop/page/${i}?searchValue=|}" th:text="${i}"></a>
                            <span th:unless="${currentPage != i}" th:text="${i}"></span> &nbsp; &nbsp;
                        </span>
                        <a th:if="${currentPage < totalPages}" th:href="@{|/shop/page/${currentPage + 1}?searchValue=|}">next</a>
                        <span th:unless="${currentPage < totalPages}">next</span>

                        <a th:if="${currentPage < totalPages}" th:href="@{|/shop/page/${totalPages}?searchValue=|}">last</a>
                        <span th:unless="${currentPage < totalPages}">last</span>
                    </div>

                        <div th:if="${searchValue != null}">
                            <span th:each="i : ${#numbers.sequence(1, totalPages)}">
                        <a th:if="${currentPage != i}" th:href="@{|/shop/page/${i}?searchValue=${searchValue}|}" th:text="${i}"></a>
                            <span th:unless="${currentPage != i}" th:text="${i}"></span> &nbsp; &nbsp;
                        </span>
                            <a th:if="${currentPage < totalPages}" th:href="@{|/shop/page/${currentPage + 1}?searchValue=${searchValue}|}">next</a>
                            <span th:unless="${currentPage < totalPages}">next</span>

                            <a th:if="${currentPage < totalPages}" th:href="@{|/shop/page/${totalPages}?searchValue=${searchValue}|}">last</a>
                            <span th:unless="${currentPage < totalPages}">last</span>

                        </div>

                </div>

                </div>
            <div th:if="${totalPages == 0}">
                <div class="text-center">
                    <p>Nothing to search!</p>
                    <a th:href="@{|/shop/page/1?searchValue=${'_'}|}">Click to return</a>
                </div>

            </div>

        </div>


    </div>
</div>
<hr>
<!-- Footer-->
<div th:include="/common/footer.html"></div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/js/scripts.js"></script>
</body>
</html>
